extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="swagger") How to use it
  a(href="https://github.com/altherlex/keno_express_api") Open Source
  a(href="https://about.me/alther") Know about Alther Alves
